* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6fa;
  margin: 2% 5%;
}

div {
  color: darkslategrey;
}

.bar {
  background-color: #f48b52;
  padding: 20px;
}

#bottom-bar {
  text-align: -webkit-center;
  font-size: 18px;
}

#name-container {
  color: darkslategrey;
  font-size: 25px;
}

#navbar-container {
  float: right;
  font-size: 25px
}

#content-container {
  background-color: #b1dfd5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  text-align: -webkit-center;
}

a {
  color: #f5f6fa;
  margin: 10px;
  text-decoration: none;
}

a.repo {
  color: #f48b52;
}

.active {
  color: darkslategrey;
}

a:hover {
  color: darkslategrey;
}

a.repo:hover {
  color: #f5f6fa;
}

#profile-picture {
  width: 300px;
}

#greeting-container {
  text-decoration: none;
}

#quote-container {
  color: #f48b52;
  font-size: 18px;
  margin-top: 10px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0 4px;
  -ms-flex-wrap: wrap;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
  -ms-flex: 33%;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.info-container {
  border-bottom: 1px outset #f5f6fa;
  border-top: 1px inset #f5f6fa;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 18px;
}

.info {
  border-top: 1px inset #f5f6fa;
  margin: 10px;
  padding: 10px;
}

.project-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px;
}

.project-description {
  font-style: italic;
}

.project-explanation {
  margin-bottom: 5px;
  margin-top: 5px;
}

.span-button {
    cursor: pointer;
    font-size: inherit;
    text-decoration: underline;
}

.span-button:hover {
    color: #f48b52;
}

#short-bio {
    font-style: italic;
    font-size: 18px;
    margin-bottom: 20px;
}

select {
  text-align-last: center;
  background-color: #f48b52;
  padding: 5px;
  border: none;
  color: darkslategrey;
  font-size: 18px;
  float: left;
}

#number-of-comments-label {
  float: left;
  margin: 5px;
  font-style: italic;
  cursor: pointer;
}

option {
  background-color: darkslategrey;
  color: #f5f6fa;
}

#comments-box {
  height: 40px;
  margin-top: 10px;
  width: -webkit-fill-available;
  border: none;
  padding: 10px;
  background-color: #f5f6fa;
  color: darkslategrey;
}

.submit {
  width: -webkit-fill-available;
  border: none;
  background-color: #f48b52;
  color: #f5f6fa;
  height: 30px;
  margin-top: 5px;
  cursor: pointer;
}

input {
  font-size: 18px;
}

#delete-comments {
  float: right;
  margin: 5px;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #a6ded2;
}

#chart-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: -webkit-fill-available;
  height: 500px;
}

#map-container {
  border: thin solid black;
  height: 500px;
  width: -webkit-fill-available;
}
